default: &default
  mqtt:
    :host:
    :port:
    :client_id:
    :username:
    :password:

  humpty_url: <base url>
  beer_mcu_url: <base url>
  optimus_url: <base url>

test:
  slack:
    token:

  mqtt:
  humpty_url:
  beer_mcu_url:
  optimus_url:

development:
  <<: *default

  slack:
    token: <slack bot token>

production:
  <<: *default

  slack:
    token: <slack bot token>
